.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 10;
}

.wrapper {
    position: relative;
    background-color: var(--white);
    height: 82%;
    border-radius: 10px;
    width: 483px;
    display: flex;
    justify-content: center;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    animation: showLoginForm 0.33s linear, hidden 0.23s linear;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    margin: 20px;
    height: 36px;
}

.body {
    width: 368px;
    flex: 1 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    label {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 4px;
    }

    input {
        border: 1px solid var(--black);
        font-size: 2.4rem;
        border-radius: 10px;
        margin-bottom: 4px;
    }
}

.form-login-signup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-login-signup-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
}

.form-login-signup-btn-item {
    color: var(--white);
    height: 40px;
    width: 100%;

    &:hover {
        background-color: rgb(248, 138, 59, 0.8);
        cursor: pointer;
    }
}

.form-login-signup-by {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 500;
    font-size: 1.4rem;
    border-radius: 4px;
    border: 1px solid var(--black);

    span {
        margin: 10px 6px;
    }

    img {
        position: absolute;
        left: 8px;
    }

    &:hover {
        cursor: pointer;
    }
}

.form-login-signup-forget {
    font-size: 1rem;
    margin-top: 14px;
    display: flex;
    justify-content: flex-end;

    &:hover {
        text-decoration: underline;
    }
}

.login-license {
    margin-top: 20px;
    font-style: 1.6rem;
    font-size: 1.2rem;

    p {
        color: rgba(22, 24, 35, 0.5);
        font-weight: 500;
        width: 100%;
        text-align: center;
    }

    a {
        color: var(--text-color);
    }
}

.footer {
    width: 100%;
    border-top: 1px solid #333;
    margin-top: 16px;
    text-align: center;
    height: 34px;

    p {
        padding: 6px 0;
        font-size: 1.4rem;

        span {
            margin-left: 2px;
            color: #ff0000;
            cursor: pointer;
        }
    }
}

.close-icon {
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
}

@keyframes showLoginForm {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hideLoginForm {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

//register
.register {
    width: 100%;
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid var(--light-green);
        border-radius: 10px;
        height: 60px;
        font-size: 2rem;
        font-weight: 600;

        &:hover {
            color: var(--white);
            background-color: var(--light-green);
        }
    }
}
