.container {
    padding: 0;
}

.container__list {
    padding: 0;
    margin: 0;
    li {
        padding: 8px 8px;
        min-width: 120px;
        list-style-type: none;
        font-size: 1.4rem;

        &:hover {
            cursor: pointer;
            background-color: var(--line-border);
        }
    }
}

.container__list li:last-child {
    border-top: 1px solid var(--line-border);
}
