.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50px;
    border-radius: 8px;
    padding-top: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    max-height: min(calc(100vh - var(----default-layout-height-header) - 60px), 760px);
}
