.wrapper {
    margin-top: var(--default-layout-height);
}
.container__main {
}

.container__sidebar {
    background-color: var(--white);
}

.container__sidebar-home {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-border);

    span {
        font-size: 1.6rem;
        margin-left: 10px;
        padding: 10px 0;
        font-weight: 800;
    }

    &:hover {
        background-color: var(--line-border);
        cursor: pointer;
    }
}

.active {
    color: rgb(254, 44, 85);
}

.container__sidebar-search {
    margin-bottom: 10px;
}

.container__sidebar-search-input {
    border: 1px solid var(--black);
}

.container__sidebar-suggested {
    border-top: 1px solid var(--line-border);
    p {
        font-size: 1.4rem;
        font-weight: 700;
    }
}

.container__sidebar-suggested-label {
    margin-top: 10px;
}

.container__sidebar-suggested-label-see {
    margin-left: auto;
    color: red;
    margin-top: 5px;
}
