.wrapper {
    margin: 40px 0;
    border-radius: 10px;
}

.greatTutorPanel__container {
    padding: 0 0 40px 0;
}
.greatTutorPanel__container-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 4px;
    padding: 40px 0 0 0;
    text-align: center;
}
.greatTutorPanel__container-summary {
    text-align: center;
    font-size: 1.4rem;
}

.scroller {
    max-width: 100%;
    margin-top: 20px;
}

.greatTutorPanel__container-animation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-block: 1rem;
    // animation: TestimonialsPanelCarousel_scroll_row1 20s linear infinite;
    // animation-play-state: running;
}

.greatTutorPanel__container-subjects {
    display: flex;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 2px 4px #c0c2c6;
    align-items: center;
    padding: 0 4px;
    max-width: 400px;
    min-width: 300px;
}

.scroller[data-animated='true'] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, var(--white) 20%, var(--white) 80%, transparent);
    mask: linear-gradient(90deg, transparent, var(--white) 20%, var(--white) 80%, transparent);
}

.scroller[data-animated='true'] .greatTutorPanel__container-animation {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 100s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction='right'] {
    --_animation-direction: reverse;
}

.scroller[data-direction='left'] {
    --_animation-direction: forwards;
}

.scroller[data-animated='true'] .greatTutorPanel__container-animation {
    &:hover {
        animation-play-state: paused;
    }
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.greatTutorPanel__container-subjects-left {
    margin-right: 8px;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}
.greatTutorPanel__container-subjects-right {
}

.greatTutorPanel__container-subjects-right-label {
    font-size: 1.4rem;
    margin-bottom: 12px;
}

.greatTutorPanel__container-subjects-right-content {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #6b6c6e;
}

.greatTutorPanel__container-subjects-right-level {
    font-size: 1.4rem;
    margin-top: 8px;
}
