.wrapper {
    margin-top: var(--default-layout-height-header);
    margin-bottom: 20px;
}

.requestTutor__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    background-color: var(--white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.requestTutor__container-header {
    margin: 20px 0;

    h1 {
        font-weight: 800;
        font-size: 3rem;
    }

    p {
        font-size: 1.6rem;
    }
}

.requestTutor__container-rule {
    border-top: 1px solid var(--light-gray);
    padding-top: 10px;
    p {
        font-size: 1.4rem;
        color: var(--text-blur-color);
    }
}

.requestTutor__container-rule-dcs {
    display: flex;

    svg {
        margin-top: 4px;
        margin-right: 10px;
        color: #17b541;
    }
}

.requestTutor__container-body {
    width: 503px;
}

.requestTutor__container-subject,
.requestTutor__container-grade,
.requestTutor__container-gender {
    margin: 10px 0;
    label {
        font-size: 1.4rem;
        font-weight: 700;
        margin-right: 10px;
        min-width: 50px;
    }

    select {
        height: 30px;
        width: 260px;

        border-radius: 4px;

        option {
            font-size: 1.4rem;
        }

        &:hover {
            border: 1px solid #f30606;
        }
    }
}

.requestTutor__container-dcs {
    margin-bottom: 10px;
    p {
        font-size: 1.4rem;
        font-weight: 700;
        margin-right: 10px;
        min-width: 50px;
    }

    textarea {
        width: 100%;
    }
}

.requestTutor__container-submit {
    margin-bottom: 10px;
    height: 30px;
    width: 100px;
    font-size: 1.4rem;
    background-color: var(--orange);
    border-radius: 4px;
    color: var(--white);

    &:hover {
        background-color: var(--hover);
    }
}
