.wrapper {
}

.container {
}

.header {
    transition: all 0.5s;
    z-index: 997;
    height: var(--default-layout-height);
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: var(--white);
    padding-left: 20px;
}

//Toggle Sidebar Button
