.wrapper {
    padding: 40px 0;
}

.subjectPanel__container {
    text-align: center;
    max-width: 100%;
}
.subjectPanel__container-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.subjectPanel__container-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subjectPanel__container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 345px;
    height: 173px;
    background-color: var(--white);
    margin: 16px 0;
    border-radius: 10px;
    box-shadow: 0px 17px 35px #c0c2c6, 0px 0px 2px #86898e;
    img {
        width: 60px;
        height: 60px;
        margin-bottom: 4px;
    }
    span {
        font-size: 1.4rem;
    }
}
