.wrapper {
    margin-top: var(--default-layout-height-header);
}

.container__header {
    height: 100px;
    text-align: center;
    padding-top: 40px;
    margin: 40px 0;
}

.container__header-title {
    font-size: 4.6rem;
    font-weight: 700;

    span {
        color: var(--green);
    }
}

.container__steps {
    margin: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--green);
    border-radius: 10px;
    padding: 40px;

    span {
        font-size: 4rem;
        color: var(--orange);
        padding-bottom: 20px;
    }

    p {
        max-width: 800px;
        font-size: 2rem;
        font-weight: 500;
    }
}

.container__tutors {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    padding-top: 20px;
    margin-bottom: 40px;
    border-radius: 4px;
}

.container__tutors::before,
.container__tutors::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.container__tutors::before {
    left: 0;
    top: 0;
}

.container__tutors::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

//Slider
.slide-track {
    display: flex;
    flex-direction: row;
    width: calc(9 * 200px);
    animation: scroll 40s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-4.5 * 200px));
    }
}

//level
.container__levels {
    display: flex;
    align-items: center;
}

.container__introduction-1 {
    display: flex;
    flex-direction: column;
    align-items: end;

    img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 1px solid var(--green);
        margin-bottom: 20px;
    }

    span {
        font-size: 2.8rem;
        font-size: 700;
        margin-bottom: 20px;
        color: var(--orange);
    }

    .container__introduction-dsc {
        p {
            font-size: 1.4rem;
            line-height: 1.8rem;
            font-weight: 500;
            padding: 0 0 0 20px;
        }
    }
}

.container__introduction-2 {
    display: flex;
    flex-direction: column;
    align-items: start;

    img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 1px solid var(--green);
        margin-bottom: 20px;
    }

    span {
        font-size: 2.8rem;
        font-size: 700;
        margin-bottom: 20px;
        color: var(--orange);
    }

    .container__introduction-dsc {
        p {
            font-size: 1.4rem;
            line-height: 1.8rem;
            font-weight: 500;
            padding: 0 20px 0 0;
        }
    }
}

.container__introduction-3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;

    img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 1px solid var(--green);
        margin-bottom: 20px;
    }

    span {
        font-size: 2.8rem;
        font-size: 700;
        margin-bottom: 20px;
        color: var(--orange);
    }

    .container__introduction-dsc {
        p {
            font-size: 1.4rem;
            line-height: 1.8rem;
            font-weight: 500;
            padding: 0 20px 0 0;
        }
    }
}

.container__message {
    margin-bottom: 40px;
    img {
        max-height: 500px;
    }
}

.container__1-1 {
    margin: 40px 0;
    border: 1px solid var(--orange);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        margin-bottom: 40px;
        color: var(--light-gray);
    }

    .container__1-1-btn {
        display: inline-block;
        width: 200px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            display: inline-block;
            color: var(--white);
            font-size: 1.4rem;
        }

        &:hover {
            background-color: var(--hover);
        }
    }
}

.container__national {
    margin: 40px 0;
    p {
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
        color: var(--text-color);
        padding: 0 20px;
    }
}

.container__national-suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }

    strong {
        font-size: 1.6rem;
        margin-bottom: 4px;
    }

    span {
        font-size: 1.3rem;
    }
}

.container__help {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
    border: 1px solid #94921f;
    padding: 40px 80px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container__questions {
    display: flex;
    align-items: center;
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid var(--green);
        margin-right: 8px;
    }

    strong {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.4rem;
    }
}

.container__questionLink {
    display: flex;
    justify-content: space-between;

    a {
        display: flex;
        height: 40px;
        width: 120px;
        margin: 0 4px;
        justify-content: center;
        align-items: center;

        span {
            color: var(--white);
            font-size: 1.4rem;
        }
    }
}
