@import 'normalize.css';

:root {
    --primary: #f7f2ed;
    --black: #000;
    --text-color: #363232;
    --white: #fff;
    --light-green: #60ad56;
    --light-gray: #969291;
    --line-border: #edeaea;
    --text-blur-color: #736e6d;
    --orange: #ed6d20;
    --green: #60ad56;
    --hover: rgba(247, 128, 69, 0.929);

    //Default layout
    --font-family: TikTokFont;
    --default-layout-height: 60px;
    --default-layout-weight: 1200px;
    --default-layout-height-header: 64px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-style: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

//scollbar css

html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    //remove underline
    text-decoration: none;
}

//Fonts embedded
@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Semibold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
