.wrapper {
    margin-top: var(--default-layout-height);
}

.container {
}

.container__comments {
    margin: 40px 0;
    padding: 0 4px;
    strong {
        font-size: 4rem;
    }

    > p:first-of-type {
        font-size: 1.8rem;
        color: var(--text-color);
    }
}

.container__comments-tags-content {
    padding: 10px;
    background-color: var(--white);
    margin: 10px 0;
    border-radius: 10px;
}

.container__comments-tags-content-item {
    display: flex;
    img {
        width: 120px;
        height: 120px;
    }

    strong {
        font-size: 2rem;
        padding-left: 10px;
    }

    p {
        font-size: 1.6rem;
        padding-left: 10px;
    }
}

.container__comments-tags-content-by {
    font-size: 1.4rem;
    text-align: end;
    color: var(--light-gray);

    strong {
        font-size: 1.4rem;
        color: var(--text-color);
    }

    a {
        color: var(--green);
        text-decoration: underline;
    }
}

.container__link {
    margin-top: 56px;
    border: 1px solid var(--line-border);
    padding: 10px;
    > p:first-of-type {
        font-size: 1.6rem;
        font-weight: 700;
        border: 1px solid var(--line-border);
        margin-bottom: 0;
        padding: 20px 0 20px 10px;
        text-decoration: underline;
    }
}

.container__link-request,
.container__link-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-left: 1px solid var(--line-border);
    border-right: 1px solid var(--line-border);
    border-bottom: 1px solid var(--line-border);

    p {
        font-size: 1.6rem;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 200px;

        span {
            color: var(--white);
            font-size: 1.4rem;
        }

        &:hover {
            background-color: var(--hover);
        }
    }
}
