.wrapper {
    background-color: var(--white);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.28);
    height: auto;
    label {
        font-weight: 700;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 5rem;
    font-weight: 700;
}

.currentForm {
    min-width: 382px;
    text-align: center;
}

.currentForm_content {
    display: flex;
    flex-direction: column;
}

.form_row {
    line-height: 1.5rem;
    margin: 10px 0;
    text-align: start;

    label {
        font-size: 1.4rem;
        margin-right: 4px;
    }

    input {
        display: block;
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        font: inherit;
        border: 1px solid #c4c1c1;
        height: 44px;
        -webkit-appearance: none;
        border-radius: 5px;
    }
}

::placeholder {
    font-size: 1.4rem;
}

.form_row-birth-radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_row-birth {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;

    label {
        font-size: 1.4rem;
        margin-right: 10px;
    }

    input {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        font: inherit;
        border: 1px solid #c4c1c1;
        height: 44px;
        -webkit-appearance: none;
        border-radius: 5px;
    }
}

.form_row-radio {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;

    p {
        font-size: 1.4rem;
        margin-left: -32px;
    }

    .form_row-radio-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        font: inherit;
        height: 44px;
        -webkit-appearance: none;

        label {
            margin-left: 6px;
            font-size: 1.4rem;
        }

        input {
            margin-left: 40px;
        }
    }
}

.submit {
    margin-bottom: 20px;
    margin-top: 10px;
    min-height: 40px;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        color: #fff;
        background: #f18c3e;
    }
}
