.wrapper {
    padding: 20px 0;
    border-bottom: 1px solid var(--line-border);
}

.container__video {
    margin-top: 10px;
}

.container__video-user {
    display: flex;
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

.container__video-user-summary {
    padding-left: 36px;
    span {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem;
    }
}

.container__video-user-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 1rem;
    span {
        color: var(--white);
    }

    &:hover {
        background-color: var(--hover);
    }
}

.container__clip {
    display: flex;
    justify-content: center;
}
