.filter {
    position: absolute;
    right: 0;
    top: 15px;
}

.filter .icon {
    color: #aab7cf;
    padding-right: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 16px;
}

.filter .icon:hover,
.filter .icon:focus {
    color: #4154f1;
}

.filter .dropdown-header {
    padding: 8px 15px;
}

.filter .dropdown-header h6 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aab7cf;
    margin-bottom: 0;
    padding: 0;
}

.filter .dropdown-item {
    padding: 8px 15px;
}
